electron-builder.yml
/node_modules
appicon.ico
index.html
installer.js
installerw.js
login.html
main.js
package-lock.json
package.json
practicexml.xml
share.html
store.js
updatestuff.js
yarn-error.log
yarn.lock
/assets
/icons
/images
